
<!-- <p>Hello {{parentData}}</p> -->
<button (click)="fireEvent()">Send Event</button>
<div *ngIf="auth ;then thenBlock; else elseBlock"></div>
<ng-template #thenBlock>
  <p>Welcome {{parentData}}!!!</p>
    </ng-template>
<ng-template #elseBlock>
<p>Login again</p>
</ng-template>

  <input #item (keyup.enter)="addItem(item.value); item.value=''" (blur)="addItem(item.value); item.value=''"><button (click)="addItem(item.value); item.value='' ">Add</button>
  <p>{{listitems}}</p>

 
  <div [ngSwitch]="myc">
      <div *ngSwitchCase="'red'">this is red</div>
      <div *ngSwitchCase="'blue'">this is blue</div>
      <div *ngSwitchCase="'green'">this is green</div>
      <div *ngSwitchDefault>this is not in list</div>
  </div>

  <p>My birthday is {{ birthday | date:format |uppercase}}</p>
  <button (click)="toggleFormat()">Change Format</button>
  

  <h2>Exponent Calculator using Pipe</h2>
    <div>Base: <input  [(ngModel)]="power"></div>
    <div>Power: <input  [(ngModel)]="factor"></div>
    <p>
     Result: {{power |exponent:factor}}
    </p>